*
 {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #eee3e3;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9e805c;
    padding: 0px 0px;
    border-radius: 3cm;
    line-height: 0%;
    margin-bottom: 30px;
    
    
  }
  
  .header h1 {
    color: #f7eeee;
    font-size: 30px;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
  }
  
  .header nav ul li {
    margin: 0 15px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .header nav ul li:hover {
    color: #000;
  }
  
  .contact {
    color: #fff;
  }
  
  .intro {
    background-color: #FFCC80;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
  }
  
  .intro h2 {
    margin-bottom: 10px;
  }
  
  .intro form input,
  .intro form button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
  }
  
  .intro form button {
    background-color: #FFA726;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .intro form button:hover {
    background-color: #FB8C00;
  }
  
  .pet-types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .pet-type {
    text-align: center;
  }
  
  .pet-type img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .pet-type h3 {
    margin-top: 10px;
  }
  
  .services {
    background-color: #b1a1ab;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .services h2 {
    margin-bottom: 10px;
  }
  
  .services p {
    margin-bottom: 20px;
  }
  
  .services-list {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .service {
    padding: 20px;
    background-color: #b88a6f;
    border-radius: 10px;
    width: 20%;
    transition: transform 0.3s;
  }
  
  .service:hover {
    transform: scale(1.05);
  }
  
  .service h3 {
    margin: 0;
  }
  
  .service-stats {
    margin-top: 20px;
  }
  
  .discount {
    background-color: #e6c1cf;
    color: #0c0202;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .discount h2 {
    margin-bottom: 10px;
  }
  
  .discount-images img {
    width: 40%;
    height: auto;
    border-radius: 10px;
  }